body {
    background-color: transparent;
}

h1 {
    font-family: 'Hobo Std';
    font-weight: bold;
    color: white;
}

.buff {
    width: 64px;
    height: 64px;
}


.buffRow {
    height: 64px;
}
