<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Anathema.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <Anathema.Properties.Settings>
            <setting name="FreezeInterval" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="RescanInterval" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="ResultReadInterval" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="TableReadInterval" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="StateCommit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StateReserve" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StateFree" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TypePrivate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TypeMapped" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TypeImage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProtectionNoAccess" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProtectionReadOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProtectionReadWrite" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProtectionWriteCopy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProtectionExecute" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProtectionExecuteRead" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProtectionExecuteReadWrite" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProtectionExecuteWriteCopy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProtectionGuard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProtectionNoCache" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProtectionWriteCombine" serializeAs="String">
                <value>False</value>
            </setting>
        </Anathema.Properties.Settings>
    </userSettings>
</configuration>
